.panel.sidebar-menu ul.tag-cloud li a {
	border: 1px solid #eeeeee;
    border-radius: 0;
    color: #38a7bb;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin: 5px 5px 5px 0;
    padding: 5px;
}

.panel.sidebar-menu ul.tag-cloud li {
	display: inline-block;
}

.panel.sidebar-menu ul.tag-cloud {
    list-style: outside none none;
    padding-left: 0;
}